body{
    overflow: auto;
    color: #141c3a;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    font-family: "europa", sans-serif;
    line-height: 1;
    margin: 0;
    line-height: 1.5;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 32px;
    font-family: "europa", sans-serif;
}
html, body{
    height: 100%;
}

.container{
    max-width: 1344px;
    margin: 0 auto;
    margin-top: 26px;
    padding-left: 4.5px;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li{
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

nav a:hover{
    color: #7510F7;

}
.mentor {
    font-size: 18px;
    font-weight: 300;
    color: #141c3a;
    cursor: pointer;
    text-decoration: none;
}

.say-hello {
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.1rem;
    background-color: transparent;
    border-color: #7510F7;
    color: #7510F7;
    font-family: "europa", sans-serif;
    align-items: center;
    border: 2px solid #7510F7;
    box-shadow: none;
    display: inline-flex;
    height: 0.5rem;
    line-height: 1.5;
    position: relative;
    text-decoration: none;
    transition: color 0.7s ease;
    border-radius: 30px;
}

.say-hello:hover {
    background-color: #7510F7;
    color: white;
}

.logo{
    cursor: pointer;
}

.headline {
    color: #141c3a;
    font-weight: 800;
    line-height: 1.125;
    font-size: 3rem !important;
    margin-top: 105px;
}

.headline, .sub-headline {
    margin-bottom: 1.5rem;
    word-break: break-all;
    font-family: "eurostile", sans-serif;
    text-align: center;
}

.sub-headline {
    font-family: "eurostile", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.5rem !important;
    color: rgba(10, 10, 10, 0.9);
}


.avatar{
    width: 210px;
    margin: 2rem 0;
    height: auto;
    max-width: 100%;
    text-align: center;
}

.img-container {
    text-align: center;
}

.computer {
    margin-bottom: -0.45rem;
    max-width: 860px;
    height: auto;
    max-width: 1334px;
    margin: 0 auto;
    padding-top: 48px;
    text-align: center;
    margin-bottom: -0.8rem;
}

.computer-container {
    text-align: center;
}

.hi {
    color: #fff;
    margin-bottom: 1.5rem;
    line-height: 1.125;
    font-family: "eurostile", sans-serif;
    font-size: 30px;
    margin-top: -0.1px;
}

.beginning-journey {
    box-sizing: inherit;
    color: #fff;
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    word-break: break-all;
    font-size: 1.22rem !important;

}

.text-box {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.section-purple {
    background-color: #7510F7;
    color: #fff;
    padding: 10.25rem 1.5rem 15.9rem;
}
.container {
    padding-top: 8px;
}

.section-skills .box {
    padding: 0;
    text-align: center;
    display: block;
    margin-top: -152px;
}

.box {
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    color: #141c3a;
    display: block;
    padding: 1.25rem;
}



.section {
    padding: 5rem 1.5rem;
}

.container-narrow {
    margin: 0 auto;
    max-width: 1200px;
    flex-grow: 1;
    position: relative;
    width: auto;
    vertical-align: baseline;
    font: inherit;
}

.centered-column {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: -0.75rem;
    margin-top: -0.75rem;
}
.column .box {
    padding: 70px 45px;
    border-bottom: 0px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
}
.column {
    display: block;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 73px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 45px;
    padding-right: 45px;
}

.image {
    margin: 0 auto 2em;
}

.skill-icon {
    height: 48px;
    width: auto;
    display: inline-block;
}

.title-is-size-4 {
    margin-top: 1em;
    margin-bottom: 1.5rem;
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    color: #141c3a;
    word-break: break-all;
    font-size: 1.5rem !important;
}

p {
    font-size: 18px;
    margin-bottom: 2em;
    margin: 0;
    padding: 0;
}

.list-title {
    margin-top: 50px;
    margin-bottom: 8px;
    font-weight: 400 !important;
    color: #7510F7 !important;
}

ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
}

.section-project {
    padding: 9rem 1.5rem;
    text-align: center !important;
    display: block;
}

.is-spaced {
    margin-bottom: 1.5rem;
    color: #141c3a;
    font-weight: 800;
    word-break: break-word;
    font-size: 2rem !important;
    display: block;
    margin-inline-start: 0px;
}

.subtitle-size-5 {
    margin-bottom: 1.5rem;
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem !important;
}

::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: #141c3a;
}

.grid {
    padding-top: 4rem;
    padding: 2rem 0 4rem;
}

.column-multiline {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -0.75rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.column-12-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%;
    padding: 0.75rem;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    text-align: center !important;
}

figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}